/* @font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('./NotoSansKR-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./NotoSansKR-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./NotoSansKR-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url('./NotoSansKR-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('./NotoSansKR-Bold.ttf') format('truetype');
} */

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;

  src: url('./Pretendard-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;

  src: url('./Pretendard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;

  src: url('./Pretendard-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;

  src: url('./Pretendard-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;

  src: url('./Pretendard-Bold.ttf') format('truetype');
}
