.signup-container {
  padding: 20px;
}

.input-section {
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out; /* 애니메이션 전환 시간 */
}

/* 애니메이션 - 이름 입력 필드가 아래로 내려가는 효과 */
.animate-down {
  transform: translateY(50px);
  opacity: 0;
  animation: slideDown 0.4s forwards;
}

/* 애니메이션 - 주민등록번호 필드가 위로 올라오는 효과 */
.animate-up {
  transform: translateY(-50px);
  opacity: 0;
  animation: slideUp 0.4s forwards;
}

/* 슬라이드 다운 애니메이션 */
@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

/* 슬라이드 업 애니메이션 */
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.id-input-container {
  display: flex;
  align-items: center;
}

.fixed-bottom-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* 원하는 너비로 조정 가능 */
  padding: 10px;
}
